@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scaleIn {
  animation: scaleIn 0.3s ease-in-out;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}